<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Таксофонова админка</title>
    <meta name="comment" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">

    <main id="app">
        <router-view></router-view>
    </main>
</div>

<template id="phone-list">
    <div>
        <div class="actions">
            <router-link class="btn btn-default" v-bind:to="{path: '/add-phone'}">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить телефон
            </router-link>
        </div>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <label for="search-element">Поиск телефона</label>
                <input v-model="searchKey" class="form-control" id="search-element" requred/>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Описание</th>
                <th>MAC считывателя</th>

                <th class="col-sm-2">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="phone in filteredPhones">
                <td>
                    <router-link v-bind:to="{name: 'phone', params: {phone_id: phone.id}}">{{ phone.name }}</router-link>
                </td>
                <td>{{ phone.comment }}</td>
                <td>
                    {{ phone.mac }}
                    <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                </td>

                <td>
                    <router-link class="btn btn-warning btn-xs" v-bind:to="{name: 'phone-edit', params: {phone_id: phone.id}}">Edit</router-link>
                    <router-link class="btn btn-danger btn-xs" v-bind:to="{name: 'phone-delete', params: {phone_id: phone.id}}">Delete</router-link>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="add-phone">
    <div>
        <h2>Add new phone</h2>
        <form v-on:submit="createphone">
            <div class="form-group">
                <label for="add-name">Имя</label>
                <input class="form-control" id="add-name" v-model="phone.name" required/>
            </div>
            <div class="form-group">
                <label for="add-comment">Описание</label>
                <textarea class="form-control" id="add-comment" rows="3" v-model="phone.comment"></textarea>
            </div>
            <div class="form-group">
                <label for="add-mac">MAC <span class="glyphicon glyphicon-euro"></span></label>
                <input class="form-control" id="add-mac" v-model="phone.mac"/>
            </div>
            <div class="form-group">
                <label for="add-user">Логин <span class="glyphicon glyphicon-euro"></span></label>
                <input class="form-control" id="add-user" v-model="phone.user" required/>
            </div>
            <div class="form-group">
                <label for="edit-password">Пароль <span class="glyphicon glyphicon-euro"></span></label>
                <input class="form-control" id="edit-password" v-model="phone.password" required/>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
        </form>
    </div>
</template>

<template id="phone">
    <div>
        <h2>{{ phone.name }}</h2>
        <b>Комментарий: </b>
        <div>{{ phone.comment }}</div>
        <b>MAC:</b>
        <div>{{ phone.mac }}</div>
        <b>Логин: </b>
        <div>{{ phone.user }}</div>
        <b>Пароль: </b>
        <div>{{ phone.password }}</div>


        <br/>
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <router-link v-bind:to="'/'">Back to phone list</router-link>
    </div>
</template>

<template id="phone-edit">
    <div>
        <h2>Редактировать телефон</h2>
        <form v-on:submit="updatephone">
            <div class="form-group">
                <label for="edit-name">Имя</label>
                <input class="form-control" id="edit-name" v-model="phone.name" required/>
            </div>
            <div class="form-group">
                <label for="edit-comment">Описание</label>
                <textarea class="form-control" id="edit-comment" rows="3" v-model="phone.comment"></textarea>
            </div>
            <div class="form-group">
                <label for="edit-mac">MAC <span class="glyphicon glyphicon-euro"></span></label>
                <input class="form-control" id="edit-mac" v-model="phone.mac"/>
            </div>
            <div class="form-group">
                <label for="edit-user">Логин <span class="glyphicon glyphicon-euro"></span></label>
                <input class="form-control" id="edit-user" v-model="phone.user" required/>
            </div>
            <div class="form-group">
                <label for="edit-password">Пароль <span class="glyphicon glyphicon-euro"></span></label>
                <input class="form-control" id="edit-password" v-model="phone.password" required/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
        </form>
    </div>
</template>

<template id="phone-delete">
    <div>
        <h2>Delete phone {{ phone.name }}</h2>
        <form v-on:submit="deletephone">
            <p>The action cannot be undone.</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
        </form>
    </div>
</template>

<script  src="js/vue.js"></script>
<script  src="js/vue-router.js"></script>
<script  src="js/main.js"></script>
<script>getPhonesFromBack()</script>
</body>
</html>
